// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "custom";
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(270deg);
  position: absolute;
  right: 53px;
  top: 15px;
}

.dropdown-submenu .dropdown-menu {
  margin-left: .1rem;
  margin-right: .1rem;
  top: -75px;
  left: 175px;
  max-height: 500px;
  overflow-y: scroll
}

.hero {
  width: 100%;
  height: 180px;
  color: #fff;
  overflow: hidden;
  transition: 1s ease;
}

.hero:hover {
  height: 290px;
  transition: 1s ease;
}

.hero h1 {
  text-shadow: #000 0 0 10px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.blog-body {
  min-width: 100%;
}

#addReply {
  background-color: #eeeeee;
}

@media (min-width: 768px) {
  #blog .card-body {
    min-height: 234px;
  }
}
